* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html, body {
     height: 100%;
     width: 100%;
}
.main{
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     position: relative;
     background-color: #000000;
     color: aliceblue;
}
#page1{
    width: 100vw;
    height: 100vh;
    background-image: url(https://www.mintlify.com/hero/bg-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    width: 53%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: aquamarine; */
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
ul{
    display: flex;
    list-style-type: none;
    gap: 14px;
    color: aliceblue;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}